
<mat-toolbar color="primary" class="app-header">
    <!-- <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Iniciar sesion</a>
    <a mat-button mat-raised-button routerLink="registro" routerLinkActive="active">Registrar</a>
  </span> -->
</mat-toolbar>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <div style="position: relative; right:5%;">      
    <google-map height="400px"
    width="650px"
    [center]="center"
    [zoom]="zoom"
    (mapClick)="moveMap($event)"
    (mapMousemove)="move($event)">
</google-map>
</div>
<!-- <div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>  -->
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Estacionamientos</mat-card-title>
        </mat-card-header>

        <form class="example-form-est" >
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre estacionamiento">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Localidad">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Direccion">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Capacidad">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Horarios">
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block">Buscar</button>
        </form>
    </mat-card>

</div>