<mat-toolbar color="primary" class="app-header">

</mat-toolbar>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    
    <mat-card class="box">
        
        <mat-card-header>
            <mat-card-title>Reservar estacionamiento</mat-card-title>
        </mat-card-header>

        <form class="example-form" [formGroup]="formulario" (ngSubmit)="onSubmit()">

            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre Completo" formControlName="nombreCompleto">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Numero Tarjeta" formControlName="tarjeta">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Fecha Vencimiento" formControlName="fechaVencimiento">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Codigo Seguridad" formControlName="codigo">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre Tarjeta" formControlName="nombreTarjeta">
                </mat-form-field>

            </mat-card-content>

            <button mat-stroked-button color="accent" class="btn-block">Pagar reserva</button>

        </form>
    </mat-card>
</div>


